.contact-item {
    width: calc(100% - 50px);
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.contact-item > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.contact-item > span {
    width: 35%;
    height: 100%;
    line-height: 65px;
    margin: 0 20px;
}

@media (max-width: 1199px) {
    .contact-item > span {
        width: 70%;
    }
    .contact-item > span:last-child {
        display: none;
    }
}

@media (max-width: 1024px) {
    .contact-item {
        z-index: 9;
    }
}