.contact-list-container {
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.contact-list-options {
  width: 70%;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}

.contact-list-options .button {
  width: 90px;
  height: 40px;
  margin-right: 20px;
  border-radius: 12px;
  background: #fff;
  text-align: center;
}

.contact-list-options .selecte-button {
  width: 90px;
  height: 40px;
  margin-right: 20px;
  border-radius: 12px;
  background: #1ae527;
  color: #fff;
  text-align: center;
}

.contact-list-options .delete-button {
  width: 90px;
  height: 40px;
  margin-right: 20px;
  border-radius: 12px;
  background: red;
  color: #fff;
  text-align: center;
}

.hide {
  display: none;
}

.modal-container {
  position: absolute;
  top: 180px;
  left: 135px;
  width: 20.5vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 100;
}

.modal-container > p {
  font-size: 1.3rem;
  text-align: center;
}

.modal-container > div {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.modal-container > div > button {
  width: 60px;
  height: 40px;
  border-radius: 8px;
  margin: 0 10px;
}

.modal-container > div > button:first-child {
  background-color: #1ae527;
  color: #fff;
}

.list-container {
  width: 70%;
  height: 490px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 2px solid #ffffffbb;
}

.hide-scroll {
  width: 70%;
  height: 490px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 2px solid #ffffffbb;
}

.contact-list-container > ul::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
  margin-right: 5px;
  background-color: #6969699f;
}

.contact-list-container > ul::-webkit-scrollbar-thumb {
  width: 100%;
  height: 10px;
  border-radius: 8px;
  background-color: #1ae528dc;
}

.contact-list-container > ul > div {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.contact-list-container > ul > div > input {
  width: 40px;
}

.contact-list-container > ul > p {
  width: 205px;
  height: 60px;
  line-height: 60px;
  margin: 15px auto;
  font-size: 1.3rem;
}

@media (max-width: 1199px) {
  .modal-container {
    width: 300px;
    left: 14%;
  }
}