.container {
  width: 1500px;
  height: 80vh;
  display: flex;
  background: #ffffff40;
  border-radius: 20px;
  padding: 30px;
  box-shadow:-7px 11px 28px -3px rgba(69,202,255,1);
  position: relative;
}
